{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Thesis Projects Portal</h1>
<p>This portal is dedicated to providing students with comprehensive and up-to-date information on available thesis projects across various academic disciplines. Here, you can explore a wide range of topics, discover projects aligned with your academic interests, and connect with supervisors who are leaders in their fields. Dive into our project list to find your next academic challenge!</p>
{% endblock %}
